<% @title = '職員トップページ' %>
<h1><%= @title %></h1>

<div class="ImageSlide Section">
  <ul id="Slide" class="ImageSlide__main">
    <li class="ImageSlide__item js-slide-item">
      <a href="#">
        <%= image_tag('top/slide1.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
    <li class="ImageSlide__item js-slide-item">
      <a href="#">
        <%= image_tag('top/slide2.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
    <li class="ImageSlide__item js-slide-item">
      <a href="#">
        <%= image_tag('top/slide3.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
  </ul>
  <div class="ImageSlide__sub">
    <span class="ImageSlide__dot js-slide-point">image1</span>
    <span class="ImageSlide__dot js-slide-point">image2</span>
    <span class="ImageSlide__dot js-slide-point">image3</span>
  </div>
</div>

<section class="Section l-column">
  <div class="l-row">
    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= image_tag('top/entry1.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250') %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">冬のコーヒーギフト</h3>
        <div class="EntryPanel__body">
          大切なあの方にありがとうを届けたい。心も体も温まる素敵なギフト。プレゼントキャンペーン実施中！
        </div>
        <div class="EntryPanel__foot"><a href="#" class="button">READ MORE</a></div>
      </div>
    </div>

    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= image_tag('top/entry2.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250') %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">あの人気店コラボメニュー</h3>
        <div class="EntryPanel__body">
          今話題の人気店、Macaron'n Thingsのパンケーキを使ったコラボ商品のセットメニューを販売中。
        </div>
        <div class="EntryPanel__foot"><a href="#" class="button">READ MORE</a></div>
      </div>
    </div>
  </div>
</section>


<section class="Section">
  <h2 class="sectionLabel l-column">Content</h2>
  <div class="l-row">
    <div class="l-halfTile">
      <a href="#" class="OverlayPanel">
        <h3 class="OverlayPanel__head">Drink Menu</h3>
        <p class="OverlayPanel__body">
          定番メニューから、季節に合わせた商品まで品揃え豊富に取り揃えております。あなたのお気に入りを見つけましょう。
        </p>
      </a>
    </div>
    <div class="l-halfTile">
      <a href="#" class="OverlayPanel">
        <h3 class="OverlayPanel__head">Food Menu</h3>
        <p class="OverlayPanel__body">
          サンドイッチ、ケーキ、パスタ、当店自慢のコーヒーと一緒にどうぞ。
        </p>
      </a>
    </div>
  </div>
</section>