<% @title = '職員トップページ' %>
<h1><%= @title %></h1>

<div class="ImageSlide">
  <ul id="Slide" class="ImageSlide__main">
    <li class="ImageSlide__item">
      <a href="#">
        <%= image_tag('top/slide1.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
    <li class="ImageSlide__item">
      <a href="#">
        <%= image_tag('top/slide2.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
    <li class="ImageSlide__item">
      <a href="#">
        <%= image_tag('top/slide3.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
  </ul>
  <div class="ImageSlide__sub">
  </div>
</div>

<section class="l-column">
  <div class="l-row">
    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= image_tag('top/entry1.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250') %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">冬のコーヒーギフト</h3>
        <div class="EntryPanel__body">
          大切なあの方にありがとうを届けたい。心も体も温まる素敵なギフト。プレゼントキャンペーン実施中！
        </div>
        <div class="EntryPanel__foot"><a href="#" class="button">READ MORE</a></div>
      </div>
    </div>

    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= image_tag('top/entry2.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250') %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">あの人気店コラボメニュー</h3>
        <div class="EntryPanel__body">
          今話題の人気店、Macaron'n Thingsのパンケーキを使ったコラボ商品のセットメニューを販売中。
        </div>
        <div class="EntryPanel__foot"><a href="#" class="button">READ MORE</a></div>
      </div>
    </div>
  </div>
</section>