<% @title = '職員トップページ' %>
<h1><%= @title %></h1>


<div class="ImageSlide Section">
  <ul id="Slide" class="ImageSlide__main">
    <li class="ImageSlide__item js-slide-item">
      <a href="#">
        <%= image_tag('top/slide1.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
    <li class="ImageSlide__item js-slide-item">
      <a href="#">
        <%= image_tag('top/slide2.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
    <li class="ImageSlide__item js-slide-item">
      <a href="#">
        <%= image_tag('top/slide3.jpg', class: 'ImageSlide__image', alt:'about our tea', width:'1180', height:'490') %>
      </a>
    </li>
  </ul>
  <div class="ImageSlide__sub">
    <span class="ImageSlide__dot js-slide-point">image1</span>
    <span class="ImageSlide__dot js-slide-point">image2</span>
    <span class="ImageSlide__dot js-slide-point">image3</span>
  </div>
</div>

<section class="Section l-column">
  <div class="l-row">
    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= image_tag('top/entry1.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250') %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">冬のコーヒーギフト</h3>
        <div class="EntryPanel__body">
          大切なあの方にありがとうを届けたい。心も体も温まる素敵なギフト。プレゼントキャンペーン実施中！
        </div>
        <div class="EntryPanel__foot"><a href="#" class="button">READ MORE</a></div>
      </div>
    </div>

    <div class="EntryPanel l-halfColumn">
      <div class="EntryPanel__sub">
        <%= image_tag('top/entry2.jpg',class: 'EntryPanel__thumb' , width: '275' , height: '250') %>
      </div>
      <div id="EntryPanel__main">
        <h3 class="EntryPanel__head">あの人気店コラボメニュー</h3>
        <div class="EntryPanel__body">
          今話題の人気店、Macaron'n Thingsのパンケーキを使ったコラボ商品のセットメニューを販売中。
        </div>
        <div class="EntryPanel__foot"><a href="#" class="button">READ MORE</a></div>
      </div>
    </div>
  </div>
</section>

<section class="Section">
  <h2 class="sectionLabel l-column">Content</h2>
  <div class="Section__item l-row">
    <div class="l-halfTile IndexPage__drinkMenu">
      <a href="#" class="OverlayPanel">
        <h3 class="OverlayPanel__head">Drink Menu</h3>
        <p class="OverlayPanel__body">
          定番メニューから、季節に合わせた商品まで品揃え豊富に取り揃えております。あなたのお気に入りを見つけましょう。
        </p>
      </a>
    </div>
    <div class="l-halfTile IndexPage__foodMenu">
      <a href="#" class="OverlayPanel">
        <h3 class="OverlayPanel__head">Food Menu</h3>
        <p class="OverlayPanel__body">
          サンドイッチ、ケーキ、パスタ、当店自慢のコーヒーと一緒にどうぞ。
        </p>
      </a>
    </div>
  </div>
  <div class="Section__item l-column">
    <div class="l-row">
      <a class="IconPanel l-quaterColumn">
        <%= fa_icon 'tree' %>
        <h3 class="IconPanel__head">こだわりの空間</h3>
        <p class="IconPanel__body">
          ランチからディナーまでいつまでもリラックスして使えるくつろぎ空間。椅子や壁、細部にまでこだわっています。
        </p>
      </a>
      <a class="IconPanel l-quaterColumn">
        <%= fa_icon 'coffee' %>
        <h3 class="IconPanel__head">豆へのこだわり</h3>
        <p class="IconPanel__body">
          原産地、豆の種類、焙煎方法のこだわりを紹介する
        </p>
      </a>
      <a class="IconPanel l-quaterColumn">
        <%= fa_icon 'pencil' %>
        <h3 class="IconPanel__head">コーヒースクール</h3>
        <p class="IconPanel__body">
          コーヒー豆の基礎知識から、美味しいコーヒーを淹れるコツをお教えします。
        </p>
      </a>
      <a class="IconPanel l-quaterColumn">
        <%= fa_icon 'laptop' %>
        <h3 class="IconPanel__head">BLOG</h3>
        <p class="IconPanel__body">
          お店の最新情報を、いち早くお届け。
        </p>
      </a>
    </div>
  </div>

  <section class="Section l-column">
    <div class="Section__head">
      <h2 class="sectionLabel">News</h2>
    </div>
    <ol class="NewsList">
      <li class="NewsList__item">
        <time class="NewsList__head" datatime="2016-10-12">2016.10.12</time>
        <span class="NewsList__body">「かぼちゃタルト」「ヘーゼルナッツラテ」「ストロベリーブラウニー」「ハニーソイラテ」「たっぷりチーズときのこのパニーニ」新発売。</span>
      </li>
      <li class="NewsList__item">
        <time class="NewsList__head" datatime="2016-09-01">2016.09.01</time>
        <span class="NewsList__body">営業時間変更に関するお知らせ</span>
      </li>
      <li class="NewsList__item">
        <time class="NewsList__head" datatime="2016-08-20">2016.08.20</time>
        <span class="NewsList__body">鎌倉店ニューオープン</span>
      </li>
      <li class="NewsList__item">
        <time class="NewsList__head" datatime="2016-08-10">2016.08.10</time>
        <span class="NewsList__body">夏季限定。マンゴースムージー発売</span>
      </li>
      <li class="NewsList__item">
        <time class="NewsList__head" datatime="2016-04-02">2016.04.02</time>
        <span class="NewsList__body">[期間限定]さくら抹茶ラテ販売開始</span>
      </li>
    </ol>
  </section>
</section>

<div class="l-column u-mt60px u-mb100px">
  <div class="l-row">
    <a href="#" class="l-halfColumn">
      <%= image_tag('top/top_banner_1.jpg', class:'l-fitImg', alt:'Dummy banner') %>
    </a>
    <a href="#" class="l-halfColumn">
      <%= image_tag('top/top_banner_2.jpg', class:'l-fitImg', alt:'Dummy banner') %>
    </a>
  </div>
</div>
