<% @title = 'ログイン' %>
<section class="Section">
  <h1 class="Staff__title"><%= @title %></h1>
</section>

<section class="Section l-column">
  <div class="Form__login">
    <%= bootstrap_form_for @form, url: :staff_session do |f| %>
        <div>
          <%= f.label :email, 'メールアドレス' %>
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password %>
        </div>
        <div>
          <%= f.submit 'ログイン' %>
        </div>
    <% end %>
  </div>
</section>