<%= bootstrap_form_for [:admin, @new_allowed_source],layout: :inline do |f| %>
<div>
  <%= f.label(:octet1, t('admin.allowed_sources.index.form_label')) %>
  <%= f.text_field(:octet1, size:3, hide_label:true) %>
  <%= f.text_field(:octet2, size:3, hide_label:true) %>
  <%= f.text_field(:octet3, size:3, hide_label:true) %>
  <%= f.text_field(:last_octet, size:3, hide_label:true) %>
  <%= f.submit t('admin.allowed_sources.index.submit'), inline: true %>
</div>
<% end %>