<% @title = case params[:action]
              when 'index'; t('staff.messages.index.title_index')
              when 'inbound'; t('staff.messages.index.title_inbound')
              when 'outbound'; t('staff.messages.index.title_outbound')
              when 'deleted'; t('staff.messages.index.title_deleted')
              else; raise
            end
%>
<section class="Section">
  <h1 class="Staff__title"><%= @title %></h1>
</section>

<section class="Section l-column Table">
  <%= render 'links'%>
  <%= paginate @messages %>

  <table class="Table__body Table__body--listing StaffTable__body">
    <tr class="Table__tr">
      <th class="Table__th"><%= t('staff.messages.index.type') %></th>
      <th class="Table__th"><%= t('staff.messages.index.sender') %></th>
      <th class="Table__th"><%= t('staff.messages.index.receiver') %></th>
      <th class="Table__th"><%= t('staff.messages.index.subject') %></th>
      <th class="Table__th"><%= t('staff.messages.index.created_at') %></th>
      <th class="Table__th"><%= t('staff.messages.index.action') %></th>
    </tr>
    <% @messages.each do |m| %>
        <% p = Staff::MessagePresenter.new(m, self) %>
        <tr class="Table__tr">
          <td class="Table__td"><%= p.type %></td>
          <td class="Table__td"><%= p.sender %></td>
          <td class="Table__td"><%= p.receiver %></td>
          <td class="Table__td"><%= p.truncated_subject %></td>
          <td class="Table__td--date"><%= p.created_at %></td>
          <td class="Table__td--action">
            <%= link_to t('staff.messages.index.detail'), staff_message_path(m), class: 'btn btn-default btn-xs' %>
            <%= link_to_if m.kind_of?(CustomerMessage), t('staff.messages.index.delete'), staff_message_path(m), method: :delete, class: 'btn btn-default btn-xs' %>
          </td>
        </tr>
    <% end %>
  </table>

  <%= paginate @messages %>

  <%= render 'tags' %>
</section>