<% @title = t('.title') %>
<section class="Section l-column">
  <div class="Login Login--customer">
    <h1 class="Login__head"><%= @title %></h1>

    <div class="Flash">
      <%= content_tag(:span, flash.notice, class: 'Flash__notice') if flash.notice %>
      <%= content_tag(:span, flash.alert, class: 'Flash__alert') if flash.alert %>
    </div>

    <div class="Login__body">
      <%= bootstrap_form_for @form, url: :customer_session do |f| %>
          <div>
            <%= f.text_field :email %>
          </div>
          <div>
            <%= f.password_field :password %>
          </div>
          <div>
            <%= f.check_box :remember_me, label: t('.remember') %>
          </div>
          <div>
            <%= f.submit t '.submit' %>
          </div>
      <% end %>
    </div>
  </div>
</section>