<% @title = t('.title') %>
<section class="Section l-column">
  <div class="Login Login--customer">
    <h1 class="Login__head"><%= @title %></h1>
    <div class="Login__body">
      <%= bootstrap_form_for @form, url: :customer_session do |f| %>
          <div>
            <%= f.text_field :email %>
          </div>
          <div>
            <%= f.password_field :password %>
          </div>
          <div>
            <%= f.submit t '.submit' %>
          </div>
      <% end %>
    </div>
  </div>
</section>