<% @title = t('.title') %>
<section class="Section">
  <h1 class="Staff__title"><%= @title %></h1>
</section>

<section class="Section l-column AppForm">
  <div class="AppForm__generic-form StaffAppForm__generic-form">
    <%= bootstrap_form_for @change_password_form, url: :staff_password, method: :patch do |f| %>
        <%= markup do |m|
          p = FormPresenter.new(f, self)
          p.with_options(required: true, size: 32) do |q|
            m << p.password_field_block(:current_password, t('activemodel.attributes.staff/change_password_form.current_password'))
            m << p.password_field_block(:new_password, t('activemodel.attributes.staff/change_password_form.new_password'))
            m << p.password_field_block(:new_password_confirmation, t('activemodel.attributes.staff/change_password_form.new_password_confirmation'))
          end
        end %>
        <div class="AppForm__buttons">
          <%= f.submit t('.submit'),class: 'btn btn-default btn-lg' %>
          <%= link_to t('.cancel'), :staff_account, class: 'btn btn-default btn-lg' %>
        </div>
    <% end %>
  </div>
</section>
