<% p = MessagePresenter.new(@message, self) %>
<section class="Section l-column Table StaffTable">
  <table class="Table__body Table__body--attributes StaffTable__body">
    <% p = MessagePresenter.new(@message, self) %>
    <tr class="Table__tr"><th class="Table__th"><%= t('staff.replies.new.sender') %></th><td><%= p.sender %></td></tr>
    <tr class="Table__tr"><th class="Table__th"><%= t('staff.replies.new.subject') %></th><td><%= p.subject %></td></tr>
    <tr class="Table__tr"><th class="Table__th"><%= t('staff.replies.new.created_at') %></th><td class="Table__td--date"><%= p.created_at %></td></tr>
  </table>

  <div class="Table__body--description"><%= p.formatted_body %></div>
</section>