<% @title = t('.title') %>
<section class="Section">
  <h1 class="Customer__title"><%= @title %></h1>
</section>

<section class="Section l-column AppForm">
  <div class="AppForm__generic-form CustomerAppForm__generic-form">
    <%= bootstrap_form_for @reply, url: confirm_customer_message_reply_path(@message) do |f| %>
        <%= render 'form', f: f %>
        <div class="AppForm__buttons">
          <%= f.submit t('.submit') ,class: 'btn btn-default btn-lg'%>
          <%= link_to t('.cancel'), :customer_root ,class: 'btn btn-default btn-lg'%>
        </div>
    <% end %>
  </div>
  <%= render 'message' %>
</section>
