<div class="l-content">
  <article class="Article  l-main">
    <section class="Section">
      <h1 class="articleLabelL">コーヒースクール</h1>
      <h2 class="articleLabelM">コーヒーの機能</h2>
      <p class="Article__text">コーヒーは発見当初から眠気防止や疲労回復などの作用を持つことに注目されてきた薬用植物です。しかしその一方、コーヒーが過度の刺激剤や興奮剤として働く可能性を指摘し、敬遠する人も存在しています。近年になってコーヒーの制癌作用や抗酸化作用が注目され始めてきました。コーヒーが人体に及ぼす作用は医学・薬学的な関心を集め、さまざまな知見が得られています。<br>※引用：wikipedia</p>

      <h3 class="sectionLabel">おいしいコーヒーの淹れ方</h3>

      <%= image_tag('article/article1.jpg',class:"Article__image",alt:"", width:"865", height:"380" ) %>
      <p class="Article__text">さあ、おいしいコーヒーをいれましょう。あなたはどんなコーヒーがお好みでしょうか？ 今度の休日には、新しいコーヒー豆を買いに出かけませんか？</p>
      <p class="Article__text">ご自分で淹れたコーヒーはお店で飲むコーヒーとはまた違った味わいを感じることができます。インスタントコーヒーもきちんといれると上質な味と香りを堪能することができます。美味しいコーヒーの淹れ方のポイントは以下になります。</p>
      <ol class="textList">
        <li class="textList__item">１. コーヒーは新鮮なものを使用。</li>
        <li class="textList__item">２. 水は汲みたての新しいものを使って沸す。</li>
        <li class="textList__item">３. 抽出器具やカップは清潔な物を使用し、あらかじめ温めておきましょう。</li>
        <li class="textList__item">４. コーヒーは抽出器具に合わせて挽いたものを使用。</li>
        <li class="textList__item">５. コーヒーと水の量は、適正な分量を使用します（パッケージなどの解説を参考に）。</li>
        <li class="textList__item">６. 抽出時間や抽出温度を守りましょう。</li>
      </ol>
      <p class="Article__text">その他にも、<a href="#">ペーパードリップ式</a>、<a href="#">サイフォン式</a>、<a href="#">ネル・ドリップ式</a>、<a href="#">エスプレッソ式</a>など様々な淹れ方があります。自分好みの入れ方を見つけてみてはいかがでしょうか。<a href="http://coffee.ajca.or.jp/">全日本コーヒー協会</a>を参考にしております</p>
    </section>
  </article><!--/.l-main-->

  <div class="l-sub">
    <div class="Section">
      <div class="EntryPanel EntryPanel--vertical">
        <div class="EntryPanel__sub">
          <%= image_tag("article/article_entry1.jpg", class:"EntryPanel__thumb", alt:"",  width:"275", height:"200") %>
        </div>
        <div class="EntryPanel__main">
          <h3 class="EntryPanel__head">サブエントリー</h3>
          <div class="EntryPanel__body">
            大切なあの方にありがとうを届けたい。心も体も温まる素敵なギフト。プレゼントキャンペーン実施中！
          </div>
          <div class="EntryPanel__foot"><a href="#" class="button">READ MORE</a></div>
        </div>
      </div>
    </div>

    <h4 class="sectionLabel">コーヒーの知識を深めよう</h4>
    <ul class="textList">
      <li class="textList__item"><a href="#">コーヒーの木</a></li>
      <li class="textList__item"><a href="#">コーヒーの生豆</a></li>
      <li class="textList__item"><a href="#">コーヒーの焙煎</a></li>
    </ul>

    <h4 class="sectionLabel">健康ブログ</h4>
    <a href="#" class="ThumbnailItem">
      <%= image_tag("article/article_sub1.jpg",class:"ThumbnailItem__thumb", alt:"",  width:"80", height:"80") %>
      <p class="Thumbnail__text">フルーツとコーヒー</p>
    </a>
    <a href="#" class="ThumbnailItem">
      <%= image_tag("article/article_sub2.jpg", class:"ThumbnailItem__thumb", alt:"",  width:"80", height:"80") %>
      <p class="Thumbnail__text">コーヒーと美容</p>
    </a>
    <a href="#" class="ThumbnailItem">
      <%= image_tag("article/article_sub3.jpg", class:"ThumbnailItem__thumb", alt:"", width:"80", height:"80") %>
      <p class="Thumbnail__text">カフェインの効能</p>
    </a>


  </div><!--/.l-sub-->
</div>