<% @title = t('.title') %>
<section class="Section">
  <h1 class="Admin__title"><%= @title %></h1>
</section>

<section class="Section l-column Table">
  <div class="Table__links">
    <%= link_to t('.new'), :new_admin_staff_member, class: 'btn btn-default' %>
  </div>

  <%= paginate @staff_members %>

  <table class="Table__body Table__body--listing AdminTable__body">
    <tr class="Table__tr">
      <th class="Table__th"><%= t('.full_name') %></th>
      <th class="Table__th"><%= t('.kana') %></th>
      <th class="Table__th"><%= t('.email') %></th>
      <th class="Table__th"><%= t('.start_date') %></th>
      <th class="Table__th"><%= t('.end_date') %></th>
      <th class="Table__th"><%= t('.suspended') %></th>
      <th class="Table__th"><%= t('.action') %></th>
    </tr>
    <% @staff_members.each do |m| %>
        <% p = Admin::StaffMemberPresenter.new(m, self) %>
        <tr  class="Table__tr">
          <td class="Table__td"><%= m.family_name %> <%= m.given_name %></td>
          <td class="Table__td"><%= m.family_name_kana %> <%= m.given_name_kana %></td>
          <td class="Table__td Table__td--email"><%= m.email %></td>
          <td class="Table__td Table__td--date Table__td--center"><%= m.start_date %></td>
          <td class="Table__td Table__td--date Table__td--center"><%= m.end_date %></td>
          <td class="Table__td Table__td--boolean">
            <%= p.suspended_mark %>
          </td>
          <td class="Table__td Table__td--actions">
            <%= link_to t('.edit'), [ :edit, :admin, m ], class: 'btn btn-default btn-xs' %> |
            <%= link_to t('.events'), [ :admin, m, :staff_events ], class: 'btn btn-default btn-xs' %> |
            <%= link_to t('.delete'), [ :admin, m ], method: :delete,
                        data: { confirm: t('.confirm')}, class: 'btn btn-default btn-xs' %>
          </td>
        </tr>
    <% end %>
  </table>

  <%= paginate @staff_members %>

  <div class="Table__links">
    <%= link_to t('.new'), :new_admin_staff_member, class: 'btn btn-default' %>
  </div>
</section>
