<% @title = t('.title') %>
<section class="Section">
  <h1 class="Admin__title"><%= @title %></h1>
</section>

<section class="Section l-column AppForm">
  <div class="AppForm__generic-form AdminAppForm__generic-form AppForm__customer_form">
    <%= bootstrap_form_for [ :admin, @staff_member ] do |f| %>
    <%= render 'form', f: f %>
        <div class="AppForm__buttons">
          <%= f.submit t('.create') ,class: 'btn btn-default btn-lg'%>
          <%= link_to t('.cancel'), :admin_staff_members ,class: 'btn btn-default btn-lg'%>
        </div>
    <% end %>
  </div>
</section>
