<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= document_title %></title>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper" class="SpMenu__wrapper Admin__wrapper">
  <div id="overlay" class="SpMenu__overlay"></div>
  <%= render 'shared/admin/header' %>
  <%= yield %>
  <%= render 'shared/admin/footer' %>
</div>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script>
    imageSlide('Slide', 2);
</script>
</body>
</html>