<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= document_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'customer', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="wrapper" class="SpMenu__wrapper">
  <div id="overlay" class="SpMenu__overlay"></div>
  <% header = current_customer ? 'header_login' : 'header' %>
  <% footer = current_customer ? 'footer_login' : 'footer' %>
  <%= render "customer/shared/#{header}" %>
  <%= yield %>
  <%= render "customer/shared/#{footer}" %>
</div>
<script>
    imageSlide('Slide', 2);
</script>
</body>
</html>